.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    height: 4rem;
    border-radius: 7px;
}

.filter {
    margin: 0 0.75rem;
    cursor: pointer;
    color: var(--text-color-inactive);
    font-weight: 600;
    font-size: 1rem;
}

.filter:hover {
    color: var(--text-color-hover);
}

.active {
    color: var(--text-color-active);
}

/* Desktop */
@media screen and (min-width: 1440px) {
    #filter-mobile {
        display: none;
    }

    #filter-desktop {
        display: inherit;
        margin: 0;
    }
}