.theme-light {
  --background-image-mobile: url("../public/images/bg-mobile-light.jpg");
  --background-image-desktop: url("../public/images/bg-desktop-light.jpg");
  --background-color: hsl(240, 11%, 96%);
  --primary-background-color: hsl(0, 0%, 100%);
  --primary-text-color: hsl(252, 8%, 25%);
  --border-color: hsl(252, 11%, 91%);
  --caret-color: hsl(224, 26%, 52%);
}

.theme-dark {
  --background-image-mobile: url("../public/images/bg-mobile-dark.jpg");
  --background-image-desktop: url("../public/images/bg-desktop-dark.jpg");
  --background-color: hsl(240, 20%, 12%);
  --primary-background-color: hsl(237, 22%, 19%);
  --primary-text-color: hsl(238, 31%, 84%);
  --border-color: hsl(237, 16%, 26%);
  --caret-color: hsl(225, 32%, 54%);
}

.sup {
  height: 30%;
  background-image: var(--background-image-mobile);
  background-size: cover;
}

.inf {
  height: 70%;
  background-color: var(--background-color);
}

.container {
  width: 90%;
  height: 80%;
  position: absolute;
  left: 5%;
  top: 5%;
}


.attribution {
  color: white;
}

/* Meduium Screen from 376px to 1439px */
@media screen and (min-width: 376px) and (max-width: 1439px) {

  .sup {
    background-image: var(--background-image-desktop);
  }

}

/* Desktop */
@media screen and (min-width: 1440px) {

  .sup {
    height: 40%;
    background-image: var(--background-image-desktop);
    background-size: cover;
  }

  .inf {
    height: 60%;
    background-color: var(--background-color);
  }

  .container {
    width: 40%;
    height: 80%;
    position: absolute;
    left: 30%;
    top: 10%;
  }

}